@use '../../../style/variables.scss' as *;

form {
    outline: none;
    input {
        border: solid 2px $dark-gray;
        padding: 0.5em;
        margin: 0.2rem 0;
        font-size: 1rem;
        font-family: $main-font;
        font-weight: 600;
        width: 100%;
        outline:none;
        &[type=text]:focus, &[type=email]:focus, &[type=password]:focus,  &[type=fieldset] {
            border: 2px solid $pink;
        }
        &[type=submit] {
            text-transform: uppercase;
            &:hover {
                background-color: $pink;
            }
        }
        &::placeholder {
            color: $dark-gray;
            font-weight: 200;
            letter-spacing: 2px;
        }
    }
    .drag-and-drop {
        cursor: pointer;
    }
}

.form-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}