@use "../../style/variables.scss" as *;

.chat-main {
    // background-color: lighten($dark-gray, 20%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 12rem;
}

.chat-header {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    padding-bottom: 3.5rem;
}

.chat-container {
    box-shadow: 10px 10px 55px $pink;
    width: 800px;
    height: 500px;
    display: flex;
}

.chat-list-left {
    background-color: white;
    width: 300px;
    padding: 0 0.5em;
    // border-right: dashed $dark-gray 2px;
}

.chat-partner-row {
    // background-color: aqua;
    border-bottom: 2px dashed $dark-gray;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.7rem;

    .chat-profile-img {
        img {
            background-color: $blue;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
    }

    .chat-text-box {
        margin-left: 0.7rem;
        font-size: 0.8rem;
    }
    
    .chat-partner-name {
        font-weight: 600;
        margin: 0.3rem 0;
        .dot {
            margin-left: 1rem;
            height: 10px;
            width: 10px;
            background-color: $pink;
            border-radius: 50%;
            display: inline-block;
        }
    }

    .chat-text-teaser {
        background-color: aqua;
        margin: 0.3rem 0;
        height: 15px;
        width: 190px;
        overflow: hidden;
    }
}

.chat-window-right {
    background-color: white;
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;

    .chat-scroll {
        overflow-y: scroll;
        height: 80%;
    }

    .current-chat-message-own, .current-chat-message-partner {
        border: 3px solid $dark-gray;
        margin: 1em;
        padding: 0.8em;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .current-chat-message-own {
        border-radius: 13px 15px 0px 15px;
        margin-left: 2rem;
    }

    .current-chat-message-partner {
        border-radius: 13px 15px 15px 0px;
        margin-right: 2rem;
    }

    .current-chat-input {
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1em;
        font-family: $extra-font;
        font-size: 0.9rem;
        line-height: 0.9rem;
        text-align: start;
        display: flex;
        align-items: center;
        input {
            height: 100%;
            width: 95%;
            overflow-y: scroll;
        }
        .send {
            height: 100%;
            background: linear-gradient(141deg, rgba(35,35,35,1) 31%, rgba(164,121,216,1) 72%), left top;
            background-size: 350% 300%;
            color: white;
            box-shadow: none;
            transition: all 1s ease;
            &:hover {
                background-position: right bottom;
            }
        }

    }
}



.back-to-chat-partners-btn {
    display: none;
    border: 3px solid $dark-gray;
    margin: 0.3em;
    padding: 0.2em;
}


@media screen and (max-width: $max-screen) {
    .chat-main {
        padding-top: 5rem;
    }
    
    .chat-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        .chat-list-left {
            // display: none;
            width: 100%;
            max-width: 500px;
            border: none;
        }

        .chat-window-right {
            width: 100%;
            max-width: 500px;
            height: 100%;
        }

        .back-to-chat-partners-btn {
            display: inline-flex;
        }
    }

}