@use '../../style/variables.scss' as *;


.pic-upload-form-container {
    position: static;
    .profile-picture-update-btn {
        position: static;
    }
    .pic-upload-form-bg {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .pic-upload-form {
        position: absolute;
        background: white;
        top: -2rem;
        left: 2rem;
        width: 200px;
        border: 1px $dark-gray solid;
        .drag-and-drop {
            padding: 2rem;
            img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}