@use '../../style/variables.scss' as *;


.pic-upload-form-container {
    position: relative;
    .profile-picture-update-btn {
        position: static;
    }
    .pic-upload-form-bg {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .pic-upload-form {
        position: absolute;
        background: white;
        top: -2rem;
        left: 2rem;
        width: 150px;
        border: 1px $dark-gray solid;
        padding-top: 1rem ;
        .drag-and-drop {
            background-color: lighten($lavender, 25%);;
            padding: 0.5rem;
            img, svg {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            img {
                border-radius: 50%;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}