@use '../../style/variables.scss' as *;

.profile-container {
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 1px solid black;
}

.profile-left-column {
    background-color: blue;
    border: 5px solid red;
}