.home-animation {
    svg {
        position: absolute;
    }
    .ukulele-svg {
        width: 343.5px;
        height: 593px;
        top: 695.5px;
        left: 215px;    
    }
    .flute-svg {
        width: 116.46px;
        height: 143.24px;
        left: 550px;
        top: 1142.46px;
        transform: rotate(-5deg);

    }
    .drum-set-svg {
        width: 751px;
        height: 349.57px;
        left: 33px;
        top: 1268.5px;
    }
}

