.home-animation {
    position: relative;
    background-color: pink;
    svg {
        position: absolute;
    }
    .home-animation-svg {
        height: 100vh;
        top: 500px;
        left: 0;    
    }
}

