@use "../../style/variables.scss" as *;

.home {
    // background-image: url('../../img/bg-light-home.png');
    // background-image: url('../../img/bg-home-pink.png');
    background-image: url('../../img/bg-light-home-lighter.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-container {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
    }

    h1 {
        font-weight: 500;
        font-size: 5rem;
        line-height: 6rem;
    }

    h2 {
        font-weight: 200;
        font-size: 3.5rem;
        line-height: 4.5rem;
        padding: 2rem 0;
    }

    h4 {
        font-weight: 200;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .home .home-container {

        h1 {
            font-size: 3rem;
            line-height: 4rem;
        }
    
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            padding-top: 1.5rem;
        }
        h4 {
            font-size: 1.2rem;
        }
    }
  }