@use "../../style/variables.scss" as *;

nav {
    position: absolute;
    right: 0;
    border-left: dashed $dark-gray 2px;
    height: 100vh;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        align-items: center;
    }
    ul > li {
        transform: rotate(90deg)
    }

    ul > li a:active{
        background-color: $yellow;
    }
}    