@use "../../style/variables.scss" as *;

// .search-bar-container {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
// }
// .search-bar{
//     width: 100%;
//     padding: 4rem 8rem;
//     background-color: rgba($pink, 0.5);
// }

nav {
    position: fixed;
    right: 0;
    border-left: dashed $dark-gray 1.7px;
    height: 100vh;
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;

    #logo {
        transform: rotate(90deg);
        margin-top: 1rem;
        font-family: $logo-font;
        font-size: 2.8rem;
        font-weight: 100;
        color: $dark-gray;
    }

    ul {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 90vh;
        align-items: center;
    }

    .start-nav {
        justify-content: flex-end;
    }

    ul > li {
        transform: rotate(90deg);
        text-transform: uppercase;
        letter-spacing: 0.7px;
        background-image: linear-gradient(90deg, rgba(255,233,39,1) 60%, rgba(255,233,39,0.3113620448179272) 96%);;
        background-position: 0 1em;
        background-size: 0 50%;
        background-repeat: no-repeat;
        transition: background-size .5s;
        &:hover {
          background-size: 100% 50%;
        }
        &:visited {
            color: $dark-gray;
        }
        .active {
            background-image: linear-gradient(90deg, rgba(255,233,39,1) 60%, rgba(255,233,39,0.3113620448179272) 96%);;
            background-position: 0 1em;
            background-size: 100% 50%;
            background-repeat: no-repeat;
        }

        &:last-child .active{
            background-image: none;
        }
    }

    .search-btn {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 3.7rem;

        &:hover {
            background-image: none;
        }
        &.active {
            color: blue;
        }

    }

    .mode {
        font-size: 1.2rem;
        text-align: center;
    }
}  

@media screen and (max-width: $max-screen) {
    nav {
        position: relative;
        border-left: none;
        border-bottom: dashed $dark-gray 2px;
        height: 4.5rem;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // padding: 0 .5rem 0 .5rem;
    
        #logo {
            transform: rotate(0deg);
            margin: 0 0 0 1rem;
        }
        
        .nav-toggle {
            font-size: 2rem;
            position: absolute;
            right: 1rem;
        }
    
        ul {
            margin: 0;
            position: absolute;
            width: 100vw;
            top: 4.5rem;
            height: 40vh;
            display: flex;
            border-bottom: dashed $dark-gray 2px;
            z-index: 3;
            background-color: lighten($lavender, 25%);
        }
    
        .start-nav {
            justify-content: flex-end;
        }
    
        ul > li {
            transform: rotate(0deg);
            text-transform: uppercase;
            background: linear-gradient(90deg, rgba(164,121,216,1) 15%, rgba(164,121,216,0.29735644257703087) 96%);
            background-position: 0 1em;
            background-size: 0 50%;
            background-repeat: no-repeat;
            transition: background-size .5s;
            &:hover {
              background-size: 100% 50%;
            }
            a:visited {
                color: $dark-gray;
            }
         
        }
    
        
    
        .mode {
            position: absolute;
            top: 6.25rem;
            right: 1.25rem;
            font-size: 1.5rem;
            z-index: 5;
        }
    }  
}
