@use './variables.scss' as *;
@use '../components/UI/alerts/alert.scss';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    h1, h2, h3, h4 {
      font-family: $header-font;
    }
  
    a {
      font-family: $extra-font;
    }
  
    p, span {
      font-family: $text-font;
      color: $dark-gray;
    }
  
  }
  