@use './variables.scss' as *;
@use '../components/UI/alerts/alert.scss';
@use '../components/navbar/navbar.scss';
@use '../components/home/home.scss';

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    h1, h2, h3, h4, p, span, a {
      font-family: $main-font;
    }
    
    a {
      color: $dark-gray;
    }

    .details {
      font-family: $extra-font;
    }
  
    .App {display: flex;}

    .main {
      width: calc(100vw - 4rem);
      min-height: 100vh;
      display: flex;
      justify-content: center;
    }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .main {
    width: calc(100vw - 4rem);
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}