@use '../../../style/variables.scss' as *;


.card-list {
    // background-color: antiquewhite;
    width: 100%;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

@media screen and (max-width: $max-screen) {
    .card-list {
        margin: 0;
        padding: 0;
    }
  }